<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.nibaba.lazyfish.database.mybatis.plus.join.mapper.UserMapper">

    <select id="test" resultType="java.util.Map">
        select id,name from user
        <where>
            ${express}
        </where>

    </select>
</mapper>
